<!doctype html>
<html>
  <head>
    <title>Create tier list</title>
    <link rel="stylesheet" type="text/css" href="tierList.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <link rel="icon" href="logo/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="logo/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <!-- header Menu container-->
    <%- include("ejsModules/menu.ejs") %>

    <!-- #region Main content -->
    <div class="content-div disable-text-selection">
      <% if (!buttonVisible) { %>
      <form
        action="/tierListCreated"
        method="post"
        enctype="multipart/form-data"
        id="upload-form"
        class="create-tier-list-form"
      >
        <nav>
          <label for="enter-tier-list-name">Tier list name</label>
          <input
            type="text"
            id="enter-tier-list-name"
            name="tierListName"
            maxlength="35"
            required
          />
        </nav>

        <div
          id="drop-area"
          onclick="document.getElementById('file-input').click()"
        >
          Drop imgs here or click to select from the file system
        </div>

        <input
          type="file"
          id="file-input"
          name="imgSet"
          accept=".jpg, .png, .jpeg"
          multiple
          required
        />

        <input type="submit" value="Create tier list" id="create-button" />
      </form>
      <% } %> <% if (buttonVisible) { %>
      <a href="/tierList?tierListName=<%= tierListName %>">
        <button id="go-to-tier-list">Go to tier list</button>
      </a>
      <% } %>
    </div>

    <script src="../scripts/createTierList.js" defer></script>

    <!-- #endregion -->

    <!-- Footer container-->
    <%- include("ejsModules/footer.ejs") %>
  </body>
</html>
