<!doctype html>
<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" type="text/css" href="tierList.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <link rel="icon" href="logo/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="logo/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <!-- header Menu container-->
    <%- include("ejsModules/menu.ejs") %>

    <!-- #region Main content -->
    <div id="help-text-area-div">
      <p>Help page</p>
    </div>
    <!-- #endregion -->

    <!-- Footer container-->
    <%- include("ejsModules/footer.ejs") %>
  </body>
</html>
