a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(96 157 159);
  text-align: center;
}

.disable-text-selection {
  user-select: none;
}

.content-div {
  max-width: 1170px;
  margin: 20px auto;
  padding: 0 10px;
  flex: 1;
}

@media (width <= 1170px) {
  .content-div {
    width: 90%;
  }
}

/* #region Home page content styles */

.horizontal-scroll-div {
  padding: 0 1%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 0));
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 1fr);
  overflow: scroll;
  margin-top: 15px;
  cursor: grab;
}

.horizontal-scroll-div:active {
  cursor: grabbing;
}

.horizontal-scroll-div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.horizontal-scroll-div img {
  width: 100px;
  height: 100px;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 1px 3px -2px rgb(0 0 0 / 40%);
}

.one-tier-list-set label {
  font-size: 25px;
  margin-left: 40px;
  color: rgb(211 232 230);
  cursor: pointer;
}

.one-tier-list-set {
  padding: 15px 2.7%;
  border-radius: 10px;
  border: 1px solid rgb(73 138 129);
  box-shadow: 0 0 6px -2px rgb(0 0 0 / 40%);
  margin-top: 20px;
  cursor: pointer;
  text-align: left;
}

.one-tier-list-set:hover {
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 40%);
}

/* #endregion */

/* #region  Create tier list content styles */

#create-button {
  width: 200px;
  border-radius: 10px;
  color: white;
  padding: 12px;
  background-color: rgb(96 157 159);
  border: 1px solid rgb(73 138 129);
  box-shadow: 0 0 6px -2px rgb(0 0 0 / 40%);
  cursor: pointer;
  font-size: 19px;
}

#create-button:hover {
  box-shadow: 0 0 8px -1px rgb(0 0 0 / 40%);
}

#upload-form nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 80%;
}

#enter-tier-list-name,
label[for="enter-tier-list-name"] {
  display: inline-block;
}

label[for="enter-tier-list-name"] {
  margin-right: 20px;
  font-size: 24px;
}

@media (width <= 680px) {
  label[for="enter-tier-list-name"] {
    display: none;
  }
}

#enter-tier-list-name {
  width: 100%;
  text-align: center;
  outline: none;
  background-color: rgb(186 216 218);
  border-radius: 10px;
  padding: 4px 10px;
  border: 0;
  color: rgb(51 50 50);
  font-size: 20px;
}

#enter-tier-list-name:hover {
  box-shadow: 0 0 9px -2px rgb(0 0 0 / 40%);
}

#drop-area {
  background-color: rgb(123 172 174);
  width: 100%;
  height: 200px;
  border: 2px dashed rgb(73 138 129);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  cursor: pointer;
  font-size: 25px;
  color: rgb(226 238 236);
  transition:
    background-color 0.8s ease,
    color 0.6s ease;
}

#drop-area:hover {
  box-shadow: 0 0 7px -2px rgb(0 0 0 / 40%);
}

#drop-area.active {
  background-color: rgb(96 157 159);
  color: rgb(152 169 168);
}

.create-tier-list-form {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(73 138 129);
  box-shadow: 0 0 6px -2px rgb(0 0 0 / 40%);
  color: white;
  width: 100%;
  max-width: 800px;
}

@media (width <= 960px) {
  .create-tier-list-form {
    width: auto;
  }
}

@media (width <= 260px) {
  #create-button {
    width: auto;
    font-size: 15px;
    padding: 8px;
  }

  #drop-area {
    font-size: 15px;
    color: rgb(226 238 236);
    transition: background-color 0.8s ease;
  }
}

@media (width <= 170px) {
  #drop-area {
    font-size: 0;
  }
}

#file-input {
  display: none;
}

#go-to-tier-list {
  margin-top: 30%;
  width: 230px;
  border-radius: 10px;
  color: white;
  padding: 15px;
  background-color: rgb(96 157 159);
  border: 1px solid rgb(73 138 129);
  box-shadow: 0 0 6px -2px rgb(0 0 0 / 40%);
  cursor: pointer;
  font-size: 19px;
}

#go-to-tier-list:hover {
  box-shadow: 0 0 8px -1px rgb(0 0 0 / 40%);
}

/* #endregion */

/* #region  Help content styles */

#help-text-area-div {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

/* #endregion */

/* #region Menu styles */

.menu-nav {
  background-color: rgb(73 138 129);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 12px 50px;
  font-size: 20px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 3px 6px -2px rgb(0 0 0 / 40%);
}

.menu-nav:hover {
  cursor: default;
  box-shadow: 0 3px 9px -2px rgb(0 0 0 / 40%);
}

.menu-title {
  order: 1;
}

.menu-list {
  order: 2;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (width <= 470px) {
  .menu-list {
    display: none;
  }
}

.menu-nav ul li {
  list-style-type: none;
  float: left;
  margin-left: 15px;
}

.menu-item {
  margin-right: 10px;
}

.menu-link {
  color: white;
}

.menu-link li:hover {
  text-decoration: underline #ccc;
}

.form-search-tear-list {
  position: absolute;
  left: 150px;
  top: 12px;
  max-width: 350px;
  width: 30%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.input-choise {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 4px 10px;
  border: 0;
  background: #fff !important;
  outline: none;
  text-align: center;
  margin-right: 8px;
}

.input-choise-search-button {
  background-color: rgb(73 138 129);
  border: none;
  color: white;
  font-size: 19px;
  cursor: pointer;
}

@media (width <= 720px) {
  .input-choise,
  .input-choise-search-button {
    display: none;
  }
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* #endregion */

/* #region Footer styles */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 3px 10px -2px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 40px 50px;
  border-radius: 8px 8px 0 0;
  margin-top: auto;
}

.footer-distributed:hover {
  cursor: default;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed .footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a::before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .footer-first-link::before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline #ccc;
}

.fa-vk::before {
  content: "\f189";
}

.fa-github::before {
  content: "\f09b";
}

/* #endregion */
