<footer class="footerDistributed">
  <div class="footerRight disableTextSelection">
    <a href="https://vk.com/oo0ooo0ooo0ooo0ooo0ooo0ooo0oo"><i class="fa faVk"></i></a>
    <a href="https://github.com/lxvdnl"><i class="fa faGithub"></i></a>
  </div>
  <div class="footerLeft">
    <p class="footerLinks disableTextSelection">
      <a class="footerFirstLink" href="/">Home</a>
      <a href="/createTierList">Create tier list</a>
      <a href="/help">Help</a>
    </p>
    <p>Company lxvdnl &copy; 2023</p>
  </div>
</footer>