<footer class="footer-distributed">
  <div class="footer-right disable-text-selection">
    <a href="https://vk.com/oo0ooo0ooo0ooo0ooo0ooo0ooo0oo"><i class="fa fa-vk"></i></a>
    <a href="https://github.com/lxvdnl"><i class="fa fa-github"></i></a>
  </div>
  <div class="footer-left">
    <p class="footer-links disable-text-selection">
      <a class="footer-first-link" href="/">Home</a>
      <a href="/createTierList">Create tier list</a>
      <a href="/help">Help</a>
    </p>
    <p>Company lxvdnl &copy; 2023</p>
  </div>
</footer>