<nav class="menuNav">
  <div class="menuTitle">Tier list</div>    
  <ul class="menuList disableTextSelection">
    <a class="menuLink" href="/"><li class="menuItem">Home</li></a>
    <a class="menuLink" href="/createTierList"><li class="menuItem">Create tier list</li></a>
    <a class="menuLink" href="/help"><li class="menuItem">Help</li></a>
  </ul>
</nav>