<nav class="menu-nav">
  <div class="menu-title">Tier list</div>    
  <ul class="menu-list disable-text-selection">
    <a class="menu-link" href="/"><li class="menu-item">Home</li></a>
    <a class="menu-link" href="/createTierList"><li class="menu-item">Create tier list</li></a>
    <a class="menu-link" href="/help"><li class="menu-item">Help</li></a>
  </ul>
</nav>